.body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}
.button {
    height: 50px;
    width: 150px;
    font-weight: bold;
    position: relative;
}
.button:hover {
    box-shadow: 0px 0px 2px 1px cyan;
}